.VIntro{
  color: #aa80ff;
  border: 5px groove black;

.atmosAndC{
  color: 		#00008B;
  border: 5px groove black;
}
p {
  font-size: 13px;
  font-weight:bold;
}
body {
 background-color: #FFB6C1; 
  border: #48D1CC, 3px, bold;
  text-align: center;
}

